<?xml version="1.0"?>
<!--
/**
 * Copyright © Acid Unit (https://acid.7prism.com). All rights reserved.
 * See LICENSE file for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <acid_admin_tweaks>
            <pagebuilder>
                <html_element_wysiwyg_enabled>0</html_element_wysiwyg_enabled>
            </pagebuilder>
        </acid_admin_tweaks>
    </default>
</config>
