<?xml version="1.0"?>
<!--
/**
 * Copyright © Acid Unit (https://acid.7prism.com). All rights reserved.
 * See LICENSE file for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Plugins 👇 -->
    <!-- https://developer.adobe.com/commerce/php/development/components/plugins/ -->
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="acid_discount_field_toggle"
                type="AcidUnit\Admin\Plugin\Checkout\Coupon"
                sortOrder="10"
        />
    </type>
    <!-- Plugins 👆 -->

    <!-- Proxies 👇 -->
    <!-- https://developer.adobe.com/commerce/php/development/components/proxies/ -->
    <type name="AcidUnit\Admin\Block\Cart\Coupon">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <!-- Proxies 👆 -->
</config>
