<?xml version="1.0"?>
<!--
/**
 * Copyright © Acid Unit (https://acid.7prism.com). All rights reserved.
 * See LICENSE file for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="AcidUnit\Admin\ViewModel\ConfigProvider">
        <arguments>
            <!-- dependency on implementation -->
            <argument name="configProvider" xsi:type="object">AcidUnit\Admin\Model\AdminConfigProvider</argument>
        </arguments>
    </type>
</config>
