<?xml version="1.0"?>
<!--
/**
 * Copyright © Acid Unit (https://acid.7prism.com). All rights reserved.
 * See LICENSE file for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="acid_admin_tweaks"
                 translate="label"
                 type="text"
                 sortOrder="20"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Admin Tweaks</label>
            <tab>acid_unit</tab>
            <resource>AcidUnit_Admin::acid</resource>

            <group id="pagebuilder"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>PageBuilder</label>

                <field id="html_element_wysiwyg_enabled"
                       translate="label"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                       canRestore="1">
                    <label>Add WYSIWYG Editor support for 'HTML Code' Element</label>
                    <comment><![CDATA[Make sure WYSIWYG Editor is enabled under <b>General > Content Management > WYSIWYG Options</b> section.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
